h1 {
  color: purple;
  font-size: 60px;
}

h1:hover {
  color: orange;
  font-size: 80px;
}

#image {
  width: 250px;
}

.sepecial {
  color: teal;
  font-size: 30px;

}

input {
  height: 50px;
  width: 100px;
}

input[type="password"] {
  border-color: orange;
}

.todo {
  font-size: 30px;
  color: olive;
}

.done {
  color: grey;
  text-decoration: line-through;
  opacity: 50%;
}